/* You can add global styles to this file, and also import other style files */

// BASE STYLES

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,800&display=swap&subset=cyrillic');

$base-color: #354F9A;
$yellow: #E9CA41;
$gray: #717171;
$black: #000000;
$white: #ffffff;

html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 150%;
}

.container {
  max-width: 600px;
  margin: 0 auto;
}


h1, .h1, h2, .h2, h3, .h3 {
  font-family: 'Montserrat', sans-serif;
  color: $base-color;
  text-align: center;
  font-weight: 800;
}

h1, .h1 {
   font-size: 40px;
 }

h2, .h3 {
  font-size: 32px;
}

h3, .h3 {
  font-size: 24px;
}

ul {
  list-style: none;
}

strong {
  color: $base-color;
}
